FLWPUBTEST=FLWPUBK_TEST-akslrh329w4sklri3859kjsfd35kfjsd-X
FLWSECTEST=FLWSECK_TEST-alshuishfsduihfnodifwaeioswaprei-X
FLWENCRYTP=FLWSECK_TEST123456789
REDIRECT_URL=http://myredirect-url.com
FLWCREATE_PAYMENT_URL=https://api.flutterwave.com/v3/payments
MONGO_CONNECTION_URL=
NODE_PORT=9000